<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Document</title>
</head>
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-opacity-50 text-center text-white">
    <div class="container-fluid">
      <a class="navbar-brand  text-bg-primary" href="/">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active bg-gradient text-bg-danger" aria-current="page" href="/Enter">Enterprise</a>
          </li>

        </ul>

      </div> -->
    </div>
  </nav>
</header>





<body>

  <div th:fragment="car" class="carousel-inner">
  
    <div class="carousel-item" th:each="url: ${imageUrls}"th:classappend ="${urlStat.first} ? 'item' : 'item active'">
  
        <img class="d-block w-100 img-responsive" th:src="${url}" height="600px">
    </div>
</div>






<div class="px-4 py-5 my-5 text-center">
  <!-- <img src="img/done.png" class="d-block mx-auto mb-4" height="100" alt="logo"> -->
  <h1 class="display-5 fw-bold">Sistema de gestion de empresas</h1>
  <div class="col-lg-6 mx-auto"> 
      <p class="lead mb-4">Sistema de LegendaryAdmin</p>
      <div sec:authorize="!isAuthenticated()">
          <a th:href="@{/oauth2/authorization/auth0}" class="btn btn-primary">Log In</a>
          
      </div>
      <div sec:authorize="isAuthenticated()">
          <p>You are logged in!</p>
          <p th:text="'Bienvenido, a LegendaryAdmin '+${user.getName()}"></p>
          <!-- <img th:src="${user.Image}" alt="img">
          <img src="https://lh3.googleusercontent.com/a-/ACNPEu_KkbM8AGpGDGqIwttfB9Aw6Qyv50slbnTPSC1m=s96-c" alt="imagen"> -->
          <div class="mb-10 text-center">
            <h1>Admin Legend</h1>
            <div class=" px-4 py-5  btn-group gap-3">
             <div class=" ">
               <a href="/EnterN" class="btn btn-primary btn-lg px-4 gap-4 d-inline p-2">Crear Empresa</a>
               <div class="px-5 py-5">
                 <a href="/Enter" class=" btn btn-primary btn-lg px-4 gap-4  text-center d-inline p-2">todas</a>
               </div>
             </div>
           
            
             </div>
            
           
           </div>
           <div class="px-4 py-5 my-5 text-center">
            <h1 th:text="${msn}"></h1>
            <form class=" col-lg-9 mx-auto" th:action="@{/FindId}" th:method="post" th:object="${dat}">
             <div class="row d-flex flex-column align-items-center">
             
                      <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Id</label>
                        <div class="col-sm-10">
                          <input th:field="*{aux2}" class="form-control" type="number" placeholder="id" required>
                        </div>
             </div>
             
          
          
          
          
                    </div>
              
            
                    <button type="submit" class="btn btn-primary">Find by id</button>
            </form> 
          </div>
          
       <a th:href="@{/logout}" class="btn btn-dark">Log Out</a>
      
          </div>


  </div>
</div>












</body>

<footer th:fragment="index :: footer" class="mt-md-5  bg-secondary text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

      <!-- Twitter -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
      <!-- Github -->
      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->



    <!-- Section: Text -->
    <section class="mb-4">
      <p>
Administración de Empresas
      </p>
    </section>
    <!-- Section: Text -->


  </div> 
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-white" href="https://github.com/Legendary-admin">AdminLegend</a>
  </div>
  <!-- Copyright -->

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</html>