<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Document</title>
</head>

<header th:replace="index :: header"></header>
<body>

  <!-- @Column(name = "name", unique = true)
private String name;
@Column(name = "document",unique = true)
private String document;
@Column(name = "phone")
private String phone;
@Column(name = "addres")
private String addres;
@Column(name = "createAt")
private LocalDate createAt;
@Column(name = "updateAt") -->
<div class="d-flex gap-4  justify-content-center my-5" > 
  
    <div th:each="ent: ${Lenter} " class="card" style="width: 18rem;">
 
        
        <div class="card-body justify-content-center">
          <img src="img/factory.png" class="d-block mx-auto mb-4" height="100" alt="logo">
        <h5  class="card-title"> Empresa</h5>
        <ol>
          <li>    <h5 class=" d-inline">id:</h5>    <p th:text="${ent.id}" class="d-inline  card-text"> </p></li>
          <li> <h5 class=" d-inline">Name:</h5>    <p th:text="${ent.name}" class="d-inline card-text"> </p></li>
          <li> <h5 class=" d-inline">Phone:</h5>    <p th:text="${ent.phone}" class="d-inline card-text"> </p></li>
          <li> <h5 class=" d-inline">Document:</h5>    <p th:text="${ent.document}" class="d-inline card-text"> </p></li>
          <li> <h5 class=" d-inline">Address:</h5>    <p th:text="${ent.addres}" class="d-inline card-text"> </p></li>
          <li> <h5 class=" d-inline">Create:</h5>    <p th:text="${ent.createAt}" class="d-inline card-text"> </p></li>
          
            <li> <h5 class=" d-inline">N emp:</h5>    <p th:text="${ent.aux}" class="d-inline card-text"> </p></li>
       
        
          
        </ol>
      </div>

          <div class=" row mt-2 ">
            <form th:action="@{/Enter/{id}(id=${ent.id})}" th:method="delete" >
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
            <!-- <form th:action="@{/Enter/{id}(id=${ent.id})}" th:method="patch" >
                <button type="submit" class="btn btn-link">Editar</button>
            </form> -->
            <form th:action="@{/Employee/{id}/{Nem}(id=${ent.id},Nem=${ent.aux})}"  th:method="post" >
              <!-- <input type="hidden" th:field="*{ent.aux}"> -->
              <button type="submit" class="btn btn-info">informacion</button>
          </form>
            <!-- <a href="/Employee" class="btn btn-info btn-lg px-4 gap-3">informacion</a> -->
          </div>
      
         
        </div>
      </div>
  </div>
</div>

  <div class="px-4 py-5 my-5 text-center ">
    <a href="/" class="btn btn-primary btn-lg px-4 gap-3">Inicio</a>
    <a href="/EnterN" class="btn btn-primary btn-lg px-4 gap-3">Nueva empresa</a>
  </div>
  <!-- JavaScript Bundle with Popper -->

<header th:replace="index :: footer"></header>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
</script>
</html>